

.main-body {
  background: #222831;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

#editor {
        position: relative;
        width: 1000px;
        height: 500px;
}

.bg-steel {
  background-color: black;
  color: green;
}

.navbar-brand .mr-4{
    color: green;
}

.subb {
  margin-left: 100px;
  background-color: #000000;
}

.navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: green; 
} 

.content-section {
  background: #BEDCB9;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


#input {
  position: relative;
  width: 100%;
  height: 150px;
}

#output {
  position: relative;
  width: 100%;
  height: 150px;
}

#editor {
  position: relative;
  width: 100%;
  columns: 200;
}