{% extends "problemset/base.html"%}
{% block content %}
<div class="container-fluid">
<h2 style="color: #5CDB95;"> Problems - Let's do it..</h2>
<hr>
    {% if message %}
    <div><h2 style="color:red">
    {{message}}
    </h2>
    </div>
{% endif %}

<div class="row problembox">
    <div class="col-md-9">
        <div class="mx-auto" >
        {% for problem in problems %}
            <div class="mx-auto mb-2">
                <div class="card"  style="background-color: #dbe2ef;">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title ml-3" ><a class="card-title" style="color: black;" href="{% url 'problemset-problem' problem.id %}">{{ problem.title }}</a></h5>
                        <h5 class="card-text" style="margin-left: auto; color: black;">
                        {{ problem.points }}
                        </h5>
                    </div>
                    <a href="#" class="btn btn-outline-info">Submit</a>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-section">
            <h3 style="color: #0f4c75;">Difficulty</h3>
            <p class='text-muted'>
            <ul class="list-group">
                {% for category in categories %}
                <a href="?category={{category.id}}"><li style="color: #0f4c75;" class="list-group-item list-group-item-light">{{ category.title }}</li></a>
                {% endfor %}
            </ul>
            </p>
        </div>
        <div class="content-section">
            <h3 style="color: #0f4c75;"> Trendings / Assignments </h3>
            <p class='text-muted'>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light" style="color: #0f4c75;">Top Trending Problems</li>
                <li class="list-group-item list-group-item-light" style="color: #0f4c75;">Top Trending Posts</li>
                <li class="list-group-item list-group-item-light" style="color: #0f4c75;">Assignments</li>
            </ul>
            </p>
        </div>
    </div>
</div>
</div>

{% endblock %}