{% extends "problemset/base.html"%}
{% block content %}
<div class="container pt-4">

<div id="editor">
    {% if code != None %}
        {% for cod in code %}
    {{ cod }}
        {%endfor%}
    {% else %}
        //Write your c++ code here
    {% endif %}
</div>
    <h1>
        INPUT:
    </h1>
    <textarea id="input" cols="30" rows="10" >
    </textarea>
    <button id="submit" >{% csrf_token %} Submit</button>


</div>
<div class="container pt-4">
    <h1>
        OUTPUT:
    </h1>
    <textarea id="output" cols="30" rows="10" readonly>
    </textarea>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/c_cpp");
    document.getElementById("submit").addEventListener("click", myFunction);
    var URL = "{% url 'run-code' %}";
    var run = 0;
    function myFunction() {
            var code = editor.getValue();
            var input = $("textarea#input").val();
            var data = {'cod': code, 'input': input , 'csrfmiddlewaretoken': $.cookie('csrftoken')};
            $.post(URL, data).done(function(data){
                $.get("/static/problemset/output.txt", function(data) {
            $("textarea#output").val(data);
            $('#div').html(data.replace('n',''));});
            });
            if(run==0){
                run = run + 1;
                myFunction();
            }
    }
</script>
{% endblock %}